<a href="https://colab.research.google.com/github/vertumno/probabilidade-analise/blob/master/Discovery.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Discovering The Data

A idéia neste notebook é fazer a mineração da informação entre os diferentes banco de dados.
Para isso deveremos fazer:
- Achar o id da turma, baseado no seu nome(**Resolução de **) no dataframe de turmas_ufrn_2015_2
- Com o id da turma em mãos

In [0]:
import pandas as pd

In [15]:
turmas_url = 'http://bit.do/turmas_ufrn_2015_2'
turmas = pd.read_csv(turmas_url, sep=';')
turmas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14761 entries, 0 to 14760
Data columns (total 26 columns):
id_turma                    14761 non-null int64
codigo_turma                14761 non-null object
id_docente_interno          13903 non-null float64
id_docente_externo          858 non-null float64
observacao                  742 non-null object
id_componente_curricular    14761 non-null int64
nivel_ensino                14761 non-null object
campus_turma                10128 non-null object
local                       14510 non-null object
ano                         14761 non-null int64
periodo                     14761 non-null int64
data_inicio                 14761 non-null object
data_fim                    14761 non-null object
descricao_horario           13034 non-null object
total_solicitacoes          12339 non-null float64
capacidade_aluno            13336 non-null float64
tipo                        14761 non-null object
distancia                   14761 non-null object
data_consolidacao           13836 non-null object
agrupadora                  14761 non-null object
id_turma_agrupadora         876 non-null float64
qtd_aulas_lancadas          13836 non-null float64
situacao_turma              14761 non-null object
convenio                    0 non-null float64
modalidade_participantes    14761 non-null object
Unnamed: 25                 0 non-null float64
dtypes: float64(8), int64(4), object(14)
memory usage: 2.9+ MB

In [9]:
rptmi_turmas = turmas[turmas['id_componente_curricular'] == 55031]

id_turma_1 = rptmi_turmas.at[3461,'id_turma']
id_turma_2 = rptmi_turmas.at[3471,'id_turma']
rptmi_turmas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6 entries, 3461 to 3475
Data columns (total 26 columns):
id_turma                    6 non-null int64
codigo_turma                6 non-null object
id_docente_interno          6 non-null float64
id_docente_externo          0 non-null float64
observacao                  0 non-null object
id_componente_curricular    6 non-null int64
nivel_ensino                6 non-null object
campus_turma                6 non-null object
local                       6 non-null object
ano                         6 non-null int64
periodo                     6 non-null int64
data_inicio                 6 non-null object
data_fim                    6 non-null object
descricao_horario           6 non-null object
total_solicitacoes          6 non-null float64
capacidade_aluno            6 non-null float64
tipo                        6 non-null object
distancia                   6 non-null object
data_consolidacao           6 non-null object
agrupadora                  6 non-null object
id_turma_agrupadora         0 non-null float64
qtd_aulas_lancadas          6 non-null float64
situacao_turma              6 non-null object
convenio                    0 non-null float64
modalidade_participantes    6 non-null object
Unnamed: 25                 0 non-null float64
dtypes: float64(8), int64(4), object(14)
memory usage: 1.4+ KB

In [8]:
rptmi_turmas['capacidade_aluno']

3461    76.0
3462    76.0
3471    60.0
3472    60.0
3474    61.0
3475    61.0
Name: capacidade_aluno, dtype: float64

In [11]:
notas_url = 'http://bit.do/notas_ufrn_2015_2'

notas = pd.read_csv(notas_url, sep=';')
notas.head()

,id_turma,discente,id_curso,unidade,nota,reposicao,faltas_unidade,media_final,numero_total_faltas,descricao,Unnamed: 10
0,57570637,0895063ce0156164f27e9d98c5cae448,104720950.0,2.0,9.5,f,0.0,9.5,0.0,APROVADO,NaN
1,57570637,0895063ce0156164f27e9d98c5cae448,104720950.0,3.0,9.5,f,0.0,9.5,0.0,APROVADO,NaN
2,57570637,b9ef70a3b1e9ce6481cc2f120d5f6c4e,104720950.0,1.0,9.5,f,0.0,9.5,0.0,APROVADO,NaN
3,57570637,b9ef70a3b1e9ce6481cc2f120d5f6c4e,104720950.0,2.0,9.5,f,0.0,9.5,0.0,APROVADO,NaN
4,57570637,b9ef70a3b1e9ce6481cc2f120d5f6c4e,104720950.0,3.0,9.5,f,0.0,9.5,0.0,APROVADO,NaN

In [12]:
notas_turma = notas[notas['id_turma'] == id_turma_2]
notas_turma.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 92 entries, 86281 to 533198
Data columns (total 11 columns):
id_turma               92 non-null int64
discente               92 non-null object
id_curso               86 non-null float64
unidade                84 non-null float64
nota                   80 non-null float64
reposicao              84 non-null object
faltas_unidade         84 non-null float64
media_final            78 non-null float64
numero_total_faltas    84 non-null float64
descricao              92 non-null object
Unnamed: 10            0 non-null float64
dtypes: float64(7), int64(1), object(3)
memory usage: 8.6+ KB

In [0]:
notas_turma.head()

,id_turma,discente,id_curso,unidade,nota,reposicao,faltas_unidade,media_final,numero_total_faltas,descricao,Unnamed: 10
115968,57565214,b433ff4854fc0247521a8d85ac933932,92127264.0,1.0,7.5,f,0.0,7.5,0.0,APROVADO,NaN
115969,57565214,b433ff4854fc0247521a8d85ac933932,92127264.0,2.0,7.0,f,0.0,7.5,0.0,APROVADO,NaN
115970,57565214,b433ff4854fc0247521a8d85ac933932,92127264.0,3.0,8.0,f,0.0,7.5,0.0,APROVADO,NaN
115971,57565214,f8fbf27b209754521cdbc40840a5a8c3,92127264.0,1.0,5.5,f,0.0,6.0,0.0,APROVADO POR NOTA,NaN
115972,57565214,f8fbf27b209754521cdbc40840a5a8c3,92127264.0,2.0,5.0,f,0.0,6.0,0.0,APROVADO POR NOTA,NaN

In [0]:
class Turmas(object):
  def __init__(self, searched_year):
    self.turmas_url = 'http://bit.do/turmas_ufrn_'+searched_year
    self.notas_url = 'http://bit.do/notas_ufrn_'+searched_year
    self.turmas = pd.DataFrame()
    self.notas = pd.DataFrame()
   
  def read_data(self):
    self.turmas = pd.read_csv(turmas_url, sep=';')
    self.notas = pd.read_csv(notas_url, sep=';')
   
  def get_info(self):
    print(self.turmas.info())
    print(self.notas.info())

In [34]:
turmas_2015 = Turmas('2015_2')
turmas_2015.read_data()
turmas_2015.get_info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14761 entries, 0 to 14760
Data columns (total 26 columns):
id_turma                    14761 non-null int64
codigo_turma                14761 non-null object
id_docente_interno          13903 non-null float64
id_docente_externo          858 non-null float64
observacao                  742 non-null object
id_componente_curricular    14761 non-null int64
nivel_ensino                14761 non-null object
campus_turma                10128 non-null object
local                       14510 non-null object
ano                         14761 non-null int64
periodo                     14761 non-null int64
data_inicio                 14761 non-null object
data_fim                    14761 non-null object
descricao_horario           13034 non-null object
total_solicitacoes          12339 non-null float64
capacidade_aluno            13336 non-null float64
tipo                        14761 non-null object
distancia                   14761 non-null object
data_consolidacao           13836 non-null object
agrupadora                  14761 non-null object
id_turma_agrupadora         876 non-null float64
qtd_aulas_lancadas          13836 non-null float64
situacao_turma              14761 non-null object
convenio                    0 non-null float64
modalidade_participantes    14761 non-null object
Unnamed: 25                 0 non-null float64
dtypes: float64(8), int64(4), object(14)
memory usage: 2.9+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 658092 entries, 0 to 658091
Data columns (total 11 columns):
id_turma               658092 non-null int64
discente               658092 non-null object
id_curso               655252 non-null float64
unidade                586487 non-null float64
nota                   566691 non-null float64
reposicao              586487 non-null object
faltas_unidade         586487 non-null float64
media_final            598631 non-null float64
numero_total_faltas    613562 non-null float64
descricao              658092 non-null object
Unnamed: 10            0 non-null float64
dtypes: float64(7), int64(1), object(3)
memory usage: 55.2+ MB
None