<a href="https://colab.research.google.com/github/vertumno/probabilidade-analise/blob/master/Discovery.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [17]:
turmas_url = 'http://bit.do/turmas_ufrn_2015_2'
turmas = pd.read_csv(turmas_url, sep=';')
turmas.head()

,id_turma,codigo_turma,id_docente_interno,id_docente_externo,observacao,id_componente_curricular,nivel_ensino,campus_turma,local,ano,...,tipo,distancia,data_consolidacao,agrupadora,id_turma_agrupadora,qtd_aulas_lancadas,situacao_turma,convenio,modalidade_participantes,Unnamed: 25
0,57560974,01,5755580.0,NaN,NaN,55731,LATO SENSU,NaN,Caicó,2015,...,REGULAR,f,2016-02-29 16:58:56.653,f,NaN,20.0,CONSOLIDADA,NaN,Presencial,NaN
1,57560975,01,5756402.0,NaN,NaN,55770,LATO SENSU,NaN,Caicó,2015,...,REGULAR,f,2016-09-26 00:28:07.764,f,NaN,20.0,CONSOLIDADA,NaN,Presencial,NaN
2,57560976,01,22193.0,NaN,NaN,55743,LATO SENSU,NaN,Caicó,2015,...,REGULAR,f,2016-01-07 16:54:55.815,f,NaN,20.0,CONSOLIDADA,NaN,Presencial,NaN
3,57560977,01,5755386.0,NaN,NaN,55734,LATO SENSU,NaN,Caicó,2015,...,REGULAR,f,2016-01-29 17:20:44.777,f,NaN,20.0,CONSOLIDADA,NaN,Presencial,NaN
4,57560982,01,5755973.0,NaN,NaN,55735,LATO SENSU,NaN,Currais Novos,2015,...,REGULAR,f,2016-01-27 16:44:08.695,f,NaN,30.0,CONSOLIDADA,NaN,Presencial,NaN

In [0]:
rptmi_turmas = turmas[turmas['id_componente_curricular'] == 55031]
rptmi_turmas.head()
id_turma_1 = rptmi_turmas.at[3461,'id_turma']

In [39]:
notas_url = 'http://bit.do/notas_ufrn_2015_2'

notas = pd.read_csv(notas_url, sep=';')
notas.head()

,id_turma,discente,id_curso,unidade,nota,reposicao,faltas_unidade,media_final,numero_total_faltas,descricao,Unnamed: 10
0,57570637,0895063ce0156164f27e9d98c5cae448,104720950.0,2.0,9.5,f,0.0,9.5,0.0,APROVADO,NaN
1,57570637,0895063ce0156164f27e9d98c5cae448,104720950.0,3.0,9.5,f,0.0,9.5,0.0,APROVADO,NaN
2,57570637,b9ef70a3b1e9ce6481cc2f120d5f6c4e,104720950.0,1.0,9.5,f,0.0,9.5,0.0,APROVADO,NaN
3,57570637,b9ef70a3b1e9ce6481cc2f120d5f6c4e,104720950.0,2.0,9.5,f,0.0,9.5,0.0,APROVADO,NaN
4,57570637,b9ef70a3b1e9ce6481cc2f120d5f6c4e,104720950.0,3.0,9.5,f,0.0,9.5,0.0,APROVADO,NaN

In [45]:
notas_turma = notas[notas['id_turma'] == id_turma_1]
notas_turma.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 420 entries, 115968 to 490312
Data columns (total 11 columns):
id_turma               420 non-null int64
discente               420 non-null object
id_curso               420 non-null float64
unidade                378 non-null float64
nota                   378 non-null float64
reposicao              378 non-null object
faltas_unidade         378 non-null float64
media_final            378 non-null float64
numero_total_faltas    378 non-null float64
descricao              420 non-null object
Unnamed: 10            0 non-null float64
dtypes: float64(7), int64(1), object(3)
memory usage: 39.4+ KB

In [46]:
notas_turma.head()

,id_turma,discente,id_curso,unidade,nota,reposicao,faltas_unidade,media_final,numero_total_faltas,descricao,Unnamed: 10
115968,57565214,b433ff4854fc0247521a8d85ac933932,92127264.0,1.0,7.5,f,0.0,7.5,0.0,APROVADO,NaN
115969,57565214,b433ff4854fc0247521a8d85ac933932,92127264.0,2.0,7.0,f,0.0,7.5,0.0,APROVADO,NaN
115970,57565214,b433ff4854fc0247521a8d85ac933932,92127264.0,3.0,8.0,f,0.0,7.5,0.0,APROVADO,NaN
115971,57565214,f8fbf27b209754521cdbc40840a5a8c3,92127264.0,1.0,5.5,f,0.0,6.0,0.0,APROVADO POR NOTA,NaN
115972,57565214,f8fbf27b209754521cdbc40840a5a8c3,92127264.0,2.0,5.0,f,0.0,6.0,0.0,APROVADO POR NOTA,NaN